@{
	Layout = "_baseLayout.cshtml";
}
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href='@Url.Action("Index","Home")' class="navbar-brand">
                <span>EGCad</span>
            </a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li>@Html.ActionLink("Расчет сгущения опробации сети", "Index", "Map")</li>
                @*<li>@Html.ActionLink("О проекте", "About", "Home")</li>*@
            </ul>
            @if (User.Identity.IsAuthenticated)
            {
                @Html.Partial("_LoginPartial")
            }
        </div>
    </div>
</div>

<div id="nav">
	<a class="btn btn-navbar">
		<span class="sr-only">Left menu</span>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
	</a>

	<div class="btn-sticker-mode">
		<a href="#" title="pin ON/OFF"><span class="glyphicon"></span></a>
	</div>

	@{ Html.RenderAction("Menu", "Navigation"); }
</div>


<div id="action-panel">
	@{Html.RenderPartial("Load");}
	@{ Html.RenderPartial("Save"); }
</div>

<script type="text/javascript">
	new DynamicSideBar($("#nav"));
</script>
<div id="main">
	@RenderBody()
</div>
<script type="text/javascript">
	$(function () {
		$('[data-toggle="tooltip"]').tooltip();
	});
</script>
