@using Microsoft.Ajax.Utilities
@model EGCad.Common.Model.Data.GeoData
@{
	ViewBag.Title = "Index";
	Layout = "~/Views/Shared/_Layout.cshtml";
	var mapState = Model.Map != null ? Model.Map.IsValid ? "ok" : "error" : "error";
	var addPointState = Model.AdditionalPointCount > 0 ? "ok" : "error";
	var clusterState = Model.ClusterCount > 0 ? "ok" : "error";
	var paramsState = Model.Parameters.Count > 0 ? "ok" : "error";
	var pointsState = Model.Points.Count > 0 ? "ok" : "error";
}
<div class="page-header">
	<h2>Собранные данные</h2>
</div>
<div class="form-horizontal margined">
	<div class="form-group">
		<div class="">
			<span><i class="fa fa-check @mapState"></i></span><label title="Введите карту на" class="form-control-static ">Карта</label>
		</div>
		<div class="">
			<span><i class="fa fa-check @addPointState"></i></span><label class="form-control-static ">Количество дополнительных точек:</label><span>@Model.AdditionalPointCount</span>
		</div>
		<div class="">
			<span><i class="fa fa-check @clusterState"></i></span><label class="form-control-static ">Количество кластеров :</label><span>@Model.ClusterCount</span>
		</div>
		<div class="">
			<span><i class="fa fa-check @paramsState"></i></span><label class="form-control-static ">Введено параметров:</label><span>@Model.Parameters.Count</span>
		</div>
		<div class="">
			<span><i class="fa fa-check @pointsState"></i></span><label class="form-control-static ">Введено точек:</label><span>@Model.Points.Count</span>
		</div>
	</div>
	<div class="form-group">
		<div class="col-sm-4">
			<div class="progress ">
				<div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%;">
				</div>
			</div>
		</div>
	</div>

	<div class="form-group">
		@if (User.Identity.IsAuthenticated)
		{
			<a href="@Url.Action("DisplayClusterizedData")" class="btn margined btn-default inactive pull-left">Показать результаты кластеризации</a>
			<a href="@Url.Action("DisplayNormalizedData")" class="btn margined btn-default inactive pull-left">Показать нормализованные данные</a>
			<a href="@Url.Action("DisplayVariabilityFunctionData")" class="btn margined btn-default inactive pull-left">Показать обобщенную функцию изменчивости</a>
		}
		<a href="@Url.Action("DisplayResult")" class="btn margined btn-default inactive pull-left">Показать итоговую карту</a>
	</div>
</div>
<script type="text/javascript">
	var $progressBar = $('.progress-bar');
	var $completeState = ($('.fa.fa-check.ok').length / 5) * 100;

	if ($completeState > 99) {
		$progressBar.addClass('progress-bar-success').removeClass('progress-bar-danger');
	} else {
		$progressBar.addClass('progress-bar-danger').removeClass('progress-bar-success');
	}
	$progressBar.width(Math.round($completeState) + '%');

	if ($('.error', '#main').length < 1) {
		$('a.btn').addClass('btn-success').removeClass('inactive btn-default');
	} else {
		$('a.btn').addClass('inactive btn-default').removeClass('btn-success');
	}
</script>
