@model List<EGCad.Common.Model.Data.Parameter>
@{
    ViewBag.Title = "Таблица параметров";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="page-header">
    <h2>Введите данные о точке в таблицу</h2>
</div>
<div class="form-group">
    <table class="table table-bordered table-condensed table-striped" id="sortable">
        <thead>
        <th class="col-sm-1">#</th>
        <th class="col-sm-1">X</th>
        @foreach (var item in Model)
        {
            <th class="col-sm-1">@item.ToString()</th>
        }
        <th class="col-sm-1 glyphicon glyphicon-edit"></th>
        <th class="col-sm-1 glyphicon glyphicon-trash"></th>
        </thead>
        <tbody></tbody>
    </table>
</div>
<div class="form-group">
    <button id="addRow" class="btn btn-default"><span class="margined">Добавить точку</span><span class="glyphicon glyphicon-plus ok"></span></button>
</div>
<div class="form-group">
    <a href="@Url.Action("Index","CalculationParameters")" id="nextStep" class="btn btn-default inactive pull-right">Далее</a>
</div>
<script type="text/html" id="parameterEntryTmpl">
    <tr data-id="Id">
        <td class="index"></td>
		<td data-content="X" data-toggle="tooltip" data-placement="left" data-type="number"  data-name="X" class="editable"></td>
        <td class="hidden" data-content="Parameters" data-format="nestedTemplateFormatter" data-format-options='{"template": "#paramTmpl"}'></td>
        <td><a data-id="Id" class="action edit-action btn-link glyphicon glyphicon-edit"></a></td>
        <td><a data-id="Id" class="action remove-action btn-link glyphicon glyphicon-remove error"></a></td>
    </tr>
</script>
<script type="text/html" id="paramTmpl">
    <td data-content="Value" data-id="Id" data-type="number" data-name="values" class="editable"></td>
</script>
<script type="text/javascript">

    $(document).ready(function () {
        var sender = new egcad.Data.Sender();
        var $nextStep = $('#nextStep');
        var $table = $('table');

        var editor = new egcad.TableEditor($table, {
                                                            rowTmplSelector: '#parameterEntryTmpl',
                                                            refreshUrl: '@Url.Action("GetState")',
                                                            removeUrl: '@Url.Action("Remove")',
                                                            saveUrl: '@Url.Action("Save")',
                                                            isSortable: true,
                                                            swapUrl: '@Url.Action("Swap")',
                                                            onRefresh: validate
                                                         });

        $('#addRow').on('click', function () {
            editor.completeEditRow();
            sender.post("CreatePoint", '@Url.Action("CreatePoint")', {}, function (response) {
                if (response && response.statusCode == 0) {
                	editor.refresh();
	                editor.editModeLastRow();
                }
            });
        });

        function validate() {
            if (editor.isEmpty()) {
                $nextStep.addClass('btn-default inactive').removeClass('btn-success');
            } else {
                $nextStep.addClass('btn-success').removeClass('inactive btn-default');
            }
        }
    });
</script>
